/build/
/dist/
/nbproject/private/
/PromoCoupon-ejb/nbproject/private/
/PromoCoupon-war/nbproject/private/
/PromoCoupon-ejb/build/
/PromoCoupon-ejb/dist/
/PromoCoupon-war/build/
/PromoCoupon-war/dist/