.ui-datagrid-data {
        width: 100%;
        border-color: white;
}

.ui-datagrid .ui-paginator {
        text-align: center;
}

.ui-datagrid-column {
        padding: 2px;
}

.ui-datagrid-content-empty {
    padding: 4px 10px;
}

.ui-datagrid .ui-datagrid-header,
.ui-datagrid .ui-datagrid-footer {
    text-align:center;
    padding:4px 10px;
}

.ui-datagrid .ui-datagrid-header {
    border-bottom: 0px none;
}

.ui-datagrid .ui-datagrid-footer {
    border-top: 0px none;
}

.ui-datagrid .ui-paginator-top {
    border-bottom: 0px none;
}

.ui-datagrid .ui-paginator-bottom {
    border-top: 0px none;
}

.ui-datagrid-content {
   border: none;
} 


.ui-panel {
        padding: 0em;
        border-color: #363636;
}

.ui-panel .ui-panel-titlebar {
        padding: 0em 0em 0em;
}

.ui-panel .ui-panel-title {
        margin: 0em 0px 0em 0;
}

.ui-panel .ui-panel-titlebar-icon {
    float: right;
    cursor: pointer;
}

.ui-panel .ui-panel-titlebar-icon,
.ui-panel .ui-panel-titlebar-icon:hover,
.ui-panel .ui-panel-titlebar-icon:focus {
    margin-left:0.2em;
    margin-top:-0.2em;
    *margin:-1.5em 0em 0em 0.2em;
}

.ui-panel .ui-panel-content {
    border: 0;
    background: none;
    padding: 0em 0em;
}

.ui-panel .ui-panel-footer {
    border-width:1px 0 0;
    margin:0em 0 0;
    padding:0em 0em;
    text-align:left;
}

.ui-panel-collapsed-h .ui-panel-titlebar-icon,
.ui-panel-collapsed-h .ui-panel-titlebar-icon:hover,
.ui-panel-collapsed-h .ui-panel-titlebar-icon:focus {
    *margin:-0.2em 0em 0em 0.1em;
}

.ui-panel.ui-panel-collapsed-h {
    width: 42px;
}

.ui-panel.ui-panel-collapsed-h .ui-panel-title {
    display:none;
}


.ui-panel-titlebar {
    border: none;

}

.panelStyleMain{
    border: solid;
    border-color: #8F8F8F;
    border-width: 1px;
    box-shadow: 3px 5px 8px -1px #4E5167;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.panelStyleMain:hover{
    border: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #8F8F8F;
    border-width: 1px;
    box-shadow: 3px 5px 8px -2px #4E5167;
}

.panelStyle{
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #8F8F8F;
    font-size: 14px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

table {
    border-color: #8F8F8F;
    border-width: 5px;
}


.alimentation{
        background-color: #65537A;
        background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
        background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
        width:100%; 
        font-family:Arial; 
        font-size:17px; 
        color:#FFFFFF;
}

.aventure{
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
        width:100%; 
        font-family:Arial;
        font-size:17px; 
        color:#FFFFFF;
}


.beaute{
        background-color: #F80098;
        background-image:-webkit-linear-gradient(top, #F80098 0%, #6A0041 100%);
        background-image:linear-gradient(to bottom, #F80098 0%, #6A0041 100%);
        width:100%; 
        font-family:Arial;
        font-size:17px; 
        color:#FFFFFF;
}

.informatique{
        background-color: #B2B2B2;
        background-image:-webkit-linear-gradient(top, #B2B2B2 0%, #525252 100%);
        background-image:linear-gradient(to bottom, #B2B2B2 0%, #525252 100%);
        width:100%; 
        font-family:Arial; 
        font-size:17px; 
        color:#FFFFFF;
}

.restauration{
        background-color: #00E035;
        background-image:-webkit-linear-gradient(top, #00E035 0%, #005E16 100%);
        background-image:linear-gradient(to bottom, #00E035 0%, #005E16 100%);
        width:100%; 
        font-family:Arial;
        font-size:17px; 
        color:#FFFFFF;
}

.services{
        background-color: #FF2121;
        background-image:-webkit-linear-gradient(top, #FF2121 0%, #5B0000 100%);
        background-image:linear-gradient(to bottom, #FF2121 0%, #5B0000 100%);
        width:100%; 
        font-family:Arial; 
        font-size:17px; 
        color:#FFFFFF;
}

.tickets{
        background-color: #FFFC00;
        background-image:-webkit-linear-gradient(top, #FFFC00 0%, #797A00 100%);
        background-image:linear-gradient(to bottom, #FFFC00 0%, #797A00 100%);
        width:100%; 
        font-family:Arial;
        font-size:17px; 
        color:#FFFFFF;
}

.voyages{
        background-color: #CFFF6A;
        background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
        background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
        width:100%; 
        font-family:Arial; 
        font-size:17px; 
        color:#FFFFFF;
}


.prixActuel .prixOriginal{
    display: inline-block;
}


.ui-paginator {
    margin:0px;
    text-align: center;
    padding:2px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 12px;
    color: #000000;
}

.ui-paginator-top {
    border-bottom:0px none;
}

.ui-paginator-bottom {
    border-top:0px none;
}

.ui-paginator-page,
.ui-paginator-pages,
.ui-paginator-next,
.ui-paginator-last,
.ui-paginator-first,
.ui-paginator-prev,
.ui-paginator-current {
        display: inline-block;
        padding: 2px 6px;
        zoom: 1;
        margin-left: 1px;
        margin-right: 1px;
        text-decoration: none;
        outline: none;
}


.ui-paginator-page,
.ui-paginator-next,
.ui-paginator-last,
.ui-paginator-first,
.ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator-current,
.ui-paginator-rpp-options {
        margin-left: 1em;
        margin-right: 1em;
}

.ui-paginator-next,
.ui-paginator-prev,
.ui-paginator-first,
.ui-paginator-last {
    height: auto;
    background: black;
    background-color: #004D2F;
	background-image:-webkit-linear-gradient(top, #00AE6A 0%, #004D2F 100%);
	background-image:linear-gradient(to bottom, #00AE6A 0%, #004D2F 100%);
    color:#FFFFFF;
    border: none;
    font-family: Arial;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px #363636;
}

.ui-paginator-next .ui-icon,
.ui-paginator-prev .ui-icon,
.ui-paginator-first .ui-icon,
.ui-paginator-last .ui-icon {
        height: auto;
        overflow: inherit;
}


/* IE7 Hack */
.ui-paginator-pages {
    *padding-bottom: 0px;
}

.ui-paginator-jtp-select option,
.ui-paginator-rpp-options option {
    background-image: none;
    border:0 none;
    box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-paginator-pages .ui-paginator-page{
	background : none;
    color:#000000;
    border: none;
    font-family: Arial;
    font-size: 15px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-shadow: none;
}

.ui-paginator-pages .ui-state-active{
    color: #666A86;
}

.ui-paginator-pages .ui-state-hover{
    background : none;
    box-shadow:none;
    color : #666A86
}

.ui-paginator-next {
    background: none;
}

.ui-paginator-current {
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}

.ui-paginator-rpp-options .ui-paginator-jtp-select{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}

.ui-dialog{
    background-color : white;
}

.ui-dialog-titlebar{
    background-color : white;
}