/********** BACKGROUNDS **********/
/*background*/
body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
	background-color : #FFFEFF;
	width:100%;
}

/*background du site*/
#wrapper 
{
	top: 0;
	background-color : #FFFFFF;
	border-radius: 5px;
	width: 95%;
	left: 1%;
	position: absolute;
}

wrapper, aside
{
    display: inline-block;
}

a
{
	text-decoration:none;
}

/********** HEADER **********/
/*position du Header*/
header
{
	position: relative;
	height:86px;
	background-color: #666A86;
	background-image:-webkit-linear-gradient(top, #4E5167 0%, #666A86 100%);
	background-image:linear-gradient(to bottom, #4E5167 0%, #666A86 100%);
	border-left:solid 2px #363636;
	border-right:solid 2px #363636;
}

header nav li
{
    display: inline-block;
}

#titre_principal, #navigation, #compte
{
    display: inline-block;
}

/*logo PromoCoupon*/
#titre_principal
{
	text-align: left;
	margin-left: 2%;
	font-size: 24px;
	font-weight: bold;
}

#titre_principal #promo
{
	color: #00AE6A;
}

#titre_principal #coupon
{
	color: #FFFFFF;
}


/*barre de navigation : Accueil, Toutes les promos, Vers chez moi*/
#navigation
{
	margin-left: 16%;
	text-align: center;
}

#navigation li 
{
	width:168px;
}

#navigation li  a
{
	display: block;
	border-radius: 5px;
	box-shadow: 0px 2px 5px #1c1a19;	
	background-color: #004D2F;
	background-image:-webkit-linear-gradient(top, #00AE6A 0%, #004D2F 100%);
	background-image:linear-gradient(to bottom, #00AE6A 0%, #004D2F 100%);
	padding: 1em 1em 1em 1em;
}

#navigation li  a:hover
{
	color: #000000;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px #1c1a19;
	-webkit-box-shadow: 0px 2px 5px #1c1a19;
	box-shadow: 0px 2px 5px #1c1a19;
	background: #00AE6A;
	padding: 1em 1em 1em 1em;
}

/*connection au compte*/
#compte
{
	margin-left: 13%;
	text-align: right;
	font-size: 12px;
	color: #00AE6A;
}

#compte a
{
	color: #FFFFFF;
}

#boxLogin
{	
	position: relative;
	width:200px;
	height:110px;
	z-index: 1;
	margin-left: 84%;
	margin-top: -10px;
	background-color: #666A86;
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
}

#boxLogin h3, #fermer
{
margin-top: -20px;
 display: inline-block;
}

#fermer
{
 font-size: 12px;
}



/********** SECTION **********/
section
{
	border-left:solid 2px #363636;
	border-right:solid 2px #363636;
}

/* disposition de section */
article, #entreprise 
{
	display: inline-block;
	vertical-align: top;
}

/* formulaire coté client */
article
{
	width : 80%;
}

#client_title
{
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

#client_section
{
}

article table
{
	font-size: 12px;
	text-align: right;
}

table {
margin-top: 3%;
}

td.titres {

	font-size: 20px;
	text-align: left;

}

/* information coté entreprise */
#entreprise
{
	width : 250px;
	height : 601px;
	position: relative;
    background-color: #706b64;
}

#entreprise_title
{
	margin-top: 10px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

#entreprise_section
{
}



/********** ASIDE **********/
#articles
{
	margin-top: 150px;
    height:250px;
	text-align: left;
	font-size: 14px;
}

#options
{
	text-align: left;
	font-size: 14px;
}



/********** FOOTER **********/
footer 
{
	position: relative;
	height:100px;
	background-color: #4E5167;
	background-image:-webkit-linear-gradient(top, #666A86 0%, #4E5167 100%);
	background-image:linear-gradient(to bottom, #666A86 0%, #4E5167 100%);
	border-left:solid 2px #363636;
	border-right:solid 2px #363636;
}