aside
{	position:fixed;
	float:right;
	margin-right:0px;
    width: 3%;
	height:100%;
	top : 0px;
	right:0px;
	background-color: #004D2F;
	background-image:-webkit-linear-gradient(right, #00AE6A 0%, #004D2F 100%);
	background-image:linear-gradient(to left, #00AE6A 0%, #004D2F 100%);
    vertical-align: baseline;
}

/*classe barredoutils regroupe articles et options*/
.barredoutils
{
	margin-top: 50px;
    height:250px;
    width:100%;
    float:left;
	text-align:left;
	font-size: 14px;
}

.barredoutils ul
{
	margin-left:0px;
	padding-left:0px;
}

#articles li,#options li
{   	
	margin:0;
	padding: 10px 5px;
	width: 100%;
	list-style-type: none;
	position: relative;
}

#articles,#options 
{
	display:inline-block;
}
#options
{ 
	
}
#options ul
{	
}

.submenu
{	
}

/*search barre dans la barre d'outils*/
.submenu 
{
	background:blue;	
}

.submenu form
{
	margin: 0;
	padding: 0;
	display: none;
	right: 100%;
	position: absolute;
	top: 0px;
}
 
#articles li:hover .submenu
{
}

#articles li:hover #search,#searche
{
	position:absolute;
	display: inline-block;
	right:100%;
	top:0px;
}
